@import "variables.scss";

.modal {
   --bs-modal-margin: 3.75rem !important;
}

.form-select {
   background-color: $light-violet  !important;
   line-height: 1.6 !important;
   opacity: 80% !important;
   cursor: pointer;
   transition: opacity .2s linear !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;

   &:hover {
      opacity: 90% !important;
   }
}

.modal-content {
   background-color: rgba(238, 243, 246, 0.981) !important;
   border: none !important;
}

.modal-header {
   background: $modal-violet;
   color: white !important;
}

.btn-close {
   background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
}

.btn {
   background-color: $mid-violet  !important;
   color: white !important;
   transition: opacity .2s linear !important;

   &:hover {
      opacity: 90% !important;
   }
}

.modal-footer {
   padding: 5px !important;
}

.select-modal {
   max-width: 150px;
   height: 38px;
   background-color: white !important;
}

.modal-priority {
   max-width: 105px;
   margin-right: 10px !important;
}

.priority-edit {
   margin-right: 30px !important;
   margin-left: 10px !important;
}

.btn-edit {
   margin-right: 20px !important;
   padding-left: 20px !important;
   padding-right: 20px !important;
}

.modal-footer-edit {
   margin-bottom: 15px;
}