/*-------Variables------*/

$block-border: rgb(244, 205, 226);
$block-shadow: rgba(0, 0, 0, 0.15);
$block-background: rgba(222, 179, 239, .3);

$modal-background: rgba(238, 243, 246, 0.981);
$modal-invalid: rgb(232, 84, 84);

$header-shadow: rgba(219, 68, 214, 0.471);
$header-back: rgb(30, 11, 38);

$primary-violet: rgb(121, 29, 109);
$mid-violet: rgba(83, 28, 87, 1);
$light-violet: #fcfafd;
$modal-violet: rgba(64, 21, 79, 0.949);

$primary-black: #222222;

$button-hover: rgb(99, 34, 103);

$loader-background: rgb(55, 53, 53);
$loader-pink: rgb(233, 68, 173);

/*-------/Variables------*/


/*-------Mixins------*/

@mixin flex-align-between {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@mixin flex-align-evenly {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

@mixin flex-align-around {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

/*-------/Mixins------*/